$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLighGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


$font-normal-16 :1rem;
$font-small-14 :.875rem;
$font-large-18 :1.125rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;